
body{
   background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%)) ;
   background-attachment: fixed;
   font-family: 'Kumbh Sans', sans-serif;

}

.fluid-container{
  width: 75%;
  height: 650px;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  overflow: hidden;
}

 /* image side */
.woman-image{
  position: relative;
  top:30px;
  right:90px;
}

.shadow-desktop{
  position: relative;
  width:700px;
  bottom:500px;
  right:250px;

}
.woman-image-mobile{
  display: none;
}
.box-image{
position: absolute;
left:120px;
top:270px;
z-index: 1;
}
    /* question side */
.faq{
  margin-top: 100px;
}
h1{
  font-weight: 700;
  margin: 30px;
}
.answer{
  display: none;
}
.show{
  display:block;
}
.rotator{
  transform: rotate(180deg);
}
.question-bold{
  font-weight: 500;
  color: black;
}

.question:hover{
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

@media (min-width:600px)  {
  /* this code will apply only when the screen size is greater than 600px */
  .arrow1{
    margin-left: 205px;
  }
  .arrow2{
    margin-left: 210px;
  }
  .arrow3{
    margin-left: 270px;
  }
  .arrow4{
    margin-left: 270px;
  }
  .arrow5{
    margin-left: 230px;
  }

}



          /* for mobile */
          
          /* below code will apply only when the screen size is lesser than 500px */

@media (max-width:500px) {
  .fluid-container{
    width:90%;
    margin:auto;
    margin-top: 150px;
   overflow: visible;
   height: auto;
  }
.faq{
    position: relative;
    bottom: 50px;
  }
  .desktop-image{
    display: none;
  }

  .box-image{
    display: none;
  }
  .woman-image-mobile{
    display: block;
    position: relative;
    bottom: 170px;

  }
  .shadow{
    position: relative;
    bottom:90px;
    left: 10px;
    width: 300px;

  }

  .faq{
    margin-top: -80px;

  }
  h1{
    text-align: center;
  }
  .arrow{
    position: relative;
  }

  .arrow1{
   left:310px;

  }
  .arrow2{
    left:25px;
  }
  .arrow3{
    left: 88px;
  }
  .arrow4{
    left:88px;
  }
  .arrow5{
    left:45px;
  }



}
